.galeria img{
    width:25%;
    height: 25%;
}
.lightbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.widoczne {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
}
