body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.sounds{
    display: none;
}
h2{
    margin-top: 20px;
    font-size: 50px;
}
p{
    font-size: 40px;
}
h2, p{
    text-align: center;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
strong{
    font-size: 45px;
}
#recordBtn{
    left: 20%;
}
#playBtn{
    left: 75%;
}
#recordBtn, #playBtn{
    font-size: 40px;
    padding: 20px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: seagreen;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
#recordBtn:hover, #playBtn:hover {
    transition: transform .1s;
    transform: scale(1.1)
}