*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 10000vh;
    background: #b6b5a9;

}
.notePad{
    position: relative;
    height: 33vh;
    width: 55vw;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(241, 239, 66); 
    overflow: hidden; 

}
#dodajNotatke{
position: absolute;
font-size: 25px;
   bottom: 1%;
   left: 50%;
   transform: translate(-50%);
   border-radius: 20px;
   padding: 5px;
   background-color: springgreen;
}
.chooseColor{
    position: absolute;
    right: 2.5%;
    top: 34%;
    font-size: 18px;
}
.red, .green, .purple, .pink, .blue, .cyan{
height: 50px;
width: 50px;
border: 1px solid black;
position: absolute;
border-radius: 50%;
}
.red{
    background-color: red;
    right:8%;
    top :42%;
}
.purple{
    background-color: purple;
    right:8%;
    top :62%;
}
.blue{
    background-color: blue;
    right:8%;
    top :82%;
}
.green{
    background-color: rgb(11, 97, 11);
    right:2%;
    top :42%;
}
.pink{
    background-color: pink;
    right:2%;
    top :62%;
}
.cyan{
    background-color: cyan;
    right:2%;
    top :82%;
}
.titleNote, .contentNote{
    position: absolute;
    left: 1%;
}
.titleNote{
    top: 4%;
}
#note1, #note2{
    height: 80px;
    width: 500px;
    font-size: 25px;
}
.contentNote{
    top: 40%; 
}
.note{
    float: left;
    border: 1px solid red;
    margin: 10px;
}