body {
  width: 100%;
  height: 100%;
  background: #b6b5a9;
}

.dodajNotatke{
  position: absolute;
  height: 30px;
  border-radius: 10px;
  background-color:#44c767;
  text-decoration:none;
  right: 50%;
  transform: translate(+50%);
  margin-top: 140px;
  cursor:pointer;
}

#searchPad{
  position: relative;
  height: 200px;
  width: 400px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: rgb(241, 239, 66); 
  overflow: hidden; 
}

#cityInput{
  height: 30px;
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}

.note{
  width: 200px;
  height: 260px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  float: left;
  background-color: lawngreen;
}