*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(85, 156, 13);
    overflow: hidden;
}

#ball{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color:royalblue;
}

#hole {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 25px;
    background-color:rgb(128, 0, 0);
} 

#nav{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonGameStart, #stopwatch, #buttonGameReset{
    background-color: #4CAF50; 
    border: 2px solid black;
    border-radius: 20%;
    color: white;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

#buttonGameStart{
    margin-left: 5px;
    padding: 20px 35px;
    font-size: 16px;
}

#stopwatch{
    margin-left: 30px;
    padding: 10px 30px;
}

#buttonGameReset{
    margin-left: 30px;
    padding: 20px 35px;
    font-size: 16px;
}